.main{
  margin-top: 100px;
}

.container-introduction{
  display: grid;
  place-items: center;
}

h1{
  padding-bottom: 1em;
  font-family: Roboto;
  font-weight: 700;
  color: white;
}
p{
  max-width: 700px;
  padding: 1em;
  font-family: Roboto;
  font-weight: 400;
  color: white;
}

.container-skill{
  color: wheat;
  margin-top: 5em;
}

.container-drills{
  display: grid;
  margin-top: 5em;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.container-ball_control,
.container-blocking_drills,
.container-defensive_drills,
.container-hitting_drills,
.container-serving_drills,
.container-teamwork{
  text-align: center;
  border: 2px solid white;
  max-width: 300px;
  margin-bottom: 10px;
}